**/.DS_Store
secrets
tmp
vendor
tdd

pgsql/
golibs/
node_modules/

.env
*.rdb
**/nohup.out
.direnv/
**/.vscode/
**/*.code-workspace
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/.tool-versions
**/limbo.local
shell.nix